<h1>Calculate the square of a number</h1>

<form action="/square/results">
  <label for="inara">Enter a number</label>
  <input id="inara" type="text" name="users_number">

  <button>Calculate square</button>

</form>
